.idea/
*.iml
*.iws
out/
*.ipr

target/
build/
!.mvn/wrapper/maven-wrapper.jar
/dependency-reduced-pom.xml

*.classpath
*.project
*.settings/

.DS_Store
Thumbs.db

*.log

*.tmp
*.swp
*.bak

/data

repomix-output.txt
node0
node1
node2
info.txt